body{
    background: #606C5D;
    margin: 0;
    padding: 0;

}
.div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container  {
    width: 1200px;
   padding: 10px;
   display: grid;
   gap: 1rem;

    grid-template-columns: 40% 2fr 2fr;
    grid-template-rows: repeat(4,auto);
   grid-template-areas:
    ' header header header '
    'item2 item2 item3 '
    'item2 item2 item4 '
    'item5 item5 item6 '
    'item7 item7 item7 '

   ;
}

.header{
    grid-area: header;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
    height: 150px;
}
.item4{
    grid-area: item4;
    height: 200px;
    background: transparent !important;
}
.item4 img{
    width: 100%;
    height: 100%;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}

.container div {
    background: #F1C376;
    padding: 10px;
}
