
.auth{
    background: var(--main-white);
    padding: 0.8em;
    border-radius: 25px;
    display: flex;
    height:  95vh;
    
}

@media (min-width:1200px) {
    .auth{
        height: 570px !important;
    }
}

@media (max-width:576px) {
    .auth{
        height: 700px;
    }
}




/* right nav  */
.auth-right{
    background: var(--blue);
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
    flex: 0 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    
}

.auth-right-title h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.auth-right-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.auth-right-btn button{
    width: 45%;
    padding: 10px;
    text-align: center;
    margin-bottom: 8px;
    background: var(--main-white);
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}
.auth-right-btn button:hover{
    transform: translateY(-15%);
    background: var(--gray-main);
}
.auth-right-btn button:active{
    transform: translateY(-15%);
    transform: scale(0.99) ;

}




/* .left-nav */


/* boxes  */
.auth-left{
    margin-right:20px;
    width: calc(100% - 20rem);
    padding-right:10px ;
    overflow-y: auto;
}

.sign-up-title h2{
    margin-bottom:15px;
    text-align: center !important;

}
.sign-up-title {
    border-width: 0px 3px;
    border-color: var(--blue) ;
    border-style:solid ;
    background: #b9e6ff;
    padding:1px 0 15px 0;
    text-align: center !important;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
/* forms  */
.form-group.line-right{
    border-right:3px solid var(--main-dark) ;
    padding-right:1em ;
}
.form{
    margin-top: 40px;
}

.form-group{
    margin-bottom: 40px;
}

@keyframes a {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;


    }
}
.form-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form-group p {
    width: 20%;
    color: #989898;
}
.form-control{
    width: 80%;
    padding: 15px 10px;
    border: 1px solid #cccc;
    outline: 0;
    border-radius: 8px;
    
}

.form-control:focus{
    outline: 1.4px solid var(--blue) ;

}
.btn{
    background: var(--blue);
    padding: 10px;
    text-align: center ;
    color: var(--main-white);
    cursor: pointer;
    width: 5rem ;
    margin-right:  auto ;
    margin-left: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.btn:hover{
    background: var(--main-dark);
}


.in{
    margin-top: 20px;
    font-size: 1rem;
    transition: all .3s ease-in;
    cursor: pointer;
}
.in:hover{
    color: var(--main-dark);
}

.dd-none{
    display: none;
}


/* ------------------------------- end-authtication  */


/* start home  */